# LAK19 - Python Bootcamp

## Module: Pandas

### Instructors: Alfred Essa, Lalitha Agnihotri
#### Teaching Assistants: Eddie Lin, Kim

### Pandas Series

In [32]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:20,.2f}'.format

In [33]:
#pop = pd.read_csv("data/pop2017.csv",index_col=0)

In [34]:
countries = ['US','UK','Panama','Australia','India','Tibet']

In [35]:
medals = [53,25,2,7,5,1]

In [36]:
medals

[53, 25, 2, 7, 5, 1]

In [37]:
country_medals = pd.Series(medals,countries)

In [38]:
country_medals

US           53
UK           25
Panama        2
Australia     7
India         5
Tibet         1
dtype: int64

In [39]:
medals_dict = {'US':53,'UK':25,'Panama':2,'Australia':7,'India':5,'Tibet':1}

In [40]:
country_medals2 = pd.Series(medals_dict)

In [41]:
country_medals2

US           53
UK           25
Panama        2
Australia     7
India         5
Tibet         1
dtype: int64

In [42]:
country_medals['US']

53