# LAK19 - Python Bootcamp

## Module: Basic Python

### Instructors: Alfred Essa, Lalitha Agnihotri
#### Teaching Assistants: Eddie Lin, Kim

------------------------------------------------------

## Built-in Data Types and Operations

- *boolean* (which have the value True or False)
- *integer* (whole numbers such as -25 and 10300)
- *float* (numbers with decimal points such as 3.14159; sometimes expressed as exponents 1.0e8)
- *strings* (sequences of characters such as 'lak19')

#### Basic Operations 

| Operator | Description      | Example | Result |
|----------|------------------|---------|--------|
| +        | addition         | 5 + 8   | 24     |
| -        | subtraction      | 9 - 3   | 6      |
| /        | division         | 7/2     | 3.5    |
| //       | integer division | 7/2     | 3      |
| %        | modulus          | 7%3     | 1      |
| **       | exponentiation   | 3**4    | 81     |

### 1. The Very Basics

In [2]:
# python as calculator
3.14159 * 5

15.70795

In [3]:
# variable assignment 
radius = 5
A = 3.14159 * radius**2 
A

78.53975

In [4]:
# python supports multiple assignments
x,y = 15,24

In [5]:
print(x)
print(y)

15
24

In [6]:
# boolean data type typically arises in the context of comparison statements
3 == 3.145

False

In [7]:
"to be" in "to be or not to be that is the question"

True

In [8]:
# note that integer 5 and string "5"; making this mistake in life can be of tragic consequence
5 == "5"

False

In [9]:
# we can check the type of an object. 
type(5)

int

In [10]:
type("5")

str

In [11]:
# however, python it's easily corrected with type casting
int("5")

5

In [ ]:
# let's double check
type(int("5"))

### 2. Basic String Manipulation, including Slicing

int, float, boolean are scalars; string is non-scalar (i.e. has structure) which allows us to perform operations such as slicing, extraction, and splitting

| Description    	| Example        	| Result                    	|
|----------------	|----------------	|---------------------------	|
| concatenate    	| first + last   	| 'William Shakespeare'     	|
| extract a char 	| author[4]      	| 'i'                       	|
| slice          	| author[2:7]    	| 'lliam'                   	|
| split()        	| author.split() 	| ['William','Shakespeare'] 	|

In [12]:
name = "William Shakespeare"

In [13]:
# index starts at 0
name[5]

'a'

In [14]:
# slice [start, stop, step]; stop is up to but not including stop
name[2:5]

'lli'

In [15]:
# start at second index, go all the way to the end (space counts as an index), in steps of two ***discuss this
name[2::2]

'limSaepae'

In [16]:
# we can index backwards, the third item from the item. why doesn't python use zeroth indexing when going backwards?
# is it because a foolish consistency is the hobgoblin of little minds?
name[-3]

'a'

In [17]:
# starting at -5 and go to -1; we are not going backwards, just using negative indices
name[-5:-1]

'pear'

In [18]:
# but we can't time travel; this will give us a blank string; 
# the end index has to be "ahead" of the start index if we are moving forward
name[-5:4]

''

In [19]:
# ok this is admittedly a bit roccoco; 
# we can go backward if we use negative steps
#name[-5:4:-2]
name[-5:4:-1]

'psekahS ma'

In [20]:
first = "William"
last = "Shakespeare"

In [21]:
name = first + " " + last

In [22]:
name

'William Shakespeare'