In [22]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:20,.2f}'.format

In [23]:
pop = pd.read_csv("data/pop2017.csv",index_col=0)

In [24]:
pop.head()

                             2017
Country Name
Aruba                  105,264.00
Afghanistan         35,530,081.00
Angola              29,784,193.00
Albania              2,873,457.00
Andorra                 76,965.00

In [25]:
countries = ['US','UK','Panama','Australia','India','Tibet']

In [31]:
medals = [53,25,2,7,5,1]

In [32]:
medals

[53, 25, 2, 7, 5, 1]

In [33]:
country_medals = pd.Series(medals,countries)

In [34]:
country_medals

US           53
UK           25
Panama        2
Australia     7
India         5
Tibet         1
dtype: int64

In [36]:
medals_dict = {'US':53,'UK':25,'Panama':2,'Australia':7,'India':5,'Tibet':1}

In [37]:
country_medals2 = pd.Series(medals_dict)

In [38]:
country_medals2

US           53
UK           25
Panama        2
Australia     7
India         5
Tibet         1
dtype: int64